.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  color: $blackLight;
  font-weight: $fontLight;

	a {
		text-decoration: none;
		color: $blackLight;
		transition: $standard;

		&:hover {
			color: $green;
		}

	}

}