@import 'vendors/normalize.scss';
@import 'includes/variables.scss';
@import 'includes/tile-backgrounds.scss';
@import 'includes/header.scss';
@import 'includes/footer.scss';

html { 
	position: relative;
	min-height: 100%;
  background: $black;
  font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	
	body {
		width: 100%;
		height: 100%;
		background: none;
		margin-bottom: 80px;

		.banner {
			background-color: $black;
			padding-bottom: $gutter;
			text-align: center;
			color: $white;

			h1 {
				margin: 0px auto;
				padding: 0;
			}

		}

		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
		
		.main {
			margin-bottom: $gutter;
			a {
				text-decoration: none;
				color: $white;
					
				&:hover {
					text-decoration: none;
				}

			}

			.card {
				text-align: center;
				font-weight: $fontHeavy;
				padding: 115px 0px;
			}

			h2 {
				margin: 0;
				padding: 0;
				font-size: 1.25em;
				background: $white;
				border: 1px solid $white;
				border-radius: 35px;
				padding: 5px 10px;
				max-width: 50%;
				margin: 0px auto;
				transition: all 0.25s ease;

				&:hover {
					-webkit-box-shadow: 0 6px 4px -4px $blackExtraLight;
					-moz-box-shadow: 0 6px 4px -4px $blackExtraLight;
					box-shadow: 0 6px 4px -4px $blackExtraLight;
				}

			}

		}

	}

}