@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

@import 'vendors/normalize.scss';
@import 'includes/variables.scss';
@import 'includes/tile-backgrounds.scss';
@import 'includes/header.scss';
@import 'includes/footer.scss';

html { 
	position: relative;
	min-height: 100%;
  background: $white;
	-webkit-font-smoothing: antialiased;
	
	body {
		width: 100%;
		height: 100%;
		background: none;
		margin-bottom: 81px;
		font-family: 'Roboto', sans-serif;

		.banner {
			padding: $gutter/2 0;
			border-top: 1px solid $greyExtraLight;
			border-bottom: 1px solid $greyExtraLight;
			text-align: center;
			background-color: $white;

			p {
				font-size: 1.25em;
				font-weight: $fontLight;
				color: $blackExtraLight;
				padding: 0;
				margin: 0;

				span {
					font-weight: $fontHeavy;
				}

				a {
					color: $blackExtraLight;
					text-decoration: none;
					transition: $standard;

					&:hover {
						color: $green;
					}

				}

			}

		}

		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
		
		.main {

			a {
				text-decoration: none;
				color: $white;
					
				&:hover {
					text-decoration: none;
				}

			}

			.card {
				text-align: center;
				font-weight: $fontHeavy;
				padding: 115px 0px;
				// border: 1.5px solid $white;
			}

			h2 {
				margin: 0;
				padding: 0;
				font-size: 1.25em;
				background: $white;
				border: 1px solid $white;
				border-radius: 35px;
				padding: 5px 10px;
				max-width: 50%;
				margin: 0px auto;
				transition: all 0.25s ease;

				&:hover {
					-webkit-box-shadow: 0 6px 4px -4px $blackExtraLight;
					-moz-box-shadow: 0 6px 4px -4px $blackExtraLight;
					box-shadow: 0 6px 4px -4px $blackExtraLight;
				}

			}

		}

	}

}

.articles {
	font-size: 1.25em;
	text-align: center;
	padding: $gutter/2 0;

	a {
		color: $blackExtraLight;
		transition: $standard;
		text-decoration: underline;

		&:hover {
			// text-decoration: none;
			color: $green;
		}

	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		padding: 0;
		margin: 0;
		list-style: none;
		padding-bottom: $gutter/2;
	}
	
	.title {
		// font-weight: bold;
	}

	.publication {
		font-style: italic;
		color: $grey;

		&:after {
			content: "  -  ";
		}
	}

	.date {
		color: $grey;
	}

}









